.header-component {
	background-color: #F0F0F0;
	padding: 10px 0px;
	border-bottom: 1px solid #CCC;
	.col-12 {
		display: flex;
	}
	.headerItems {
		height: 40px;
		align-items: center;
		white-space: nowrap;
	}
	.headerItemsLeft {
		flex: 1 1 auto;
		position: relative;
		left: -15px;
	}
	.headerItemsRight {
		position: relative;
		right: -15px;
	}
	.headerLogo.bp3-button.bp3-minimal {
		height: 40px;
		color: #4286f4;
		font-size: 30px;
		font-weight: 800;
		letter-spacing: 1px;
	    line-height: 30px;
	}
	.bp3-button.bp3-intent-primary {
		margin-left: 1em;
	}
	.avatar-button.bp3-button.bp3-large {
		padding: 0px 5px;
	}
	&.simple {
		background-color: white;
		border-bottom: 0px solid #CCC;
		.headerLogo {
			color: #4286f4;
		}
		.bp3-button.bp3-minimal {
			color: #333;
			&:hover {
				color: #222;
			}
		}
	}
}
