#landing-container {
	.container {
		max-width: 950px;
		text-align: center;
		// img {
		// 	margin-top: 120px;
		// 	margin-bottom: 70px;
		// 	max-width: 100%;
		// }
		h1 {
			margin-top: 120px;
			margin-bottom: 50px;
			color: #4286f4;
			font-weight: 800;
		}
	}
}
