#organization-container {
	.page-content {
		padding-top: 3em; 
		.content .row {
			margin: 1em 0em;
		}
		.bp3-non-ideal-state {
			margin: 2em auto;
		}
		.external-pubs-wrapper {
			.bp3-button {
				float: right;
				margin-left: 1em;
			}
		}
		.dropzone {
			background-color: #F7F7F9;
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 300px;
			&.dropzone--isActive {
				background-color: #E7E7E9;
			}
			.drag-message {
				text-align: center;
			}
			.bp3-icon {
				color: #666;
				margin-bottom: 0.5em;
			}
			.drag-title {
				color: #444;
				font-weight: 800;
				font-size: 24px;
			}
			.drag-details {
				padding-top: 1em;
				font-size: 16px;
			}
		}
	}
}