#help-container {
	.page-content {
		padding: 2em 0em;
		h2 {
			margin: 2em 0em 1em;
		}
		p {
			margin-bottom: 2em;
			font-size: 1.125rem;
			line-height: 1.6;
		}
		li {
			font-size: 1.125rem;
			line-height: 1.6;
			padding-bottom: 2em;
			li {
				padding-bottom: 0em;
			}
		}
		pre {
			margin: 0px;
			box-shadow: 0 0 0 black;
			padding: 0px;
			border-radius: 0px;
			font-size: 1.125rem;
		}
		.example {
			// font-style: italic;
			padding-left: 2em;
			font-size: 0.9em;
			color: #4286f4;
		}
	}
}
