#history-container {
	.page-content {
		padding: 2em 0em;
		table {
			width: 100%;
			margin: 3em 0em;
			border: 1px solid #DDD;
		}
		.bp3-non-ideal-state {
			margin: 3em auto;	
		}
		.button-wrapper {
			float: right;
		}
	}
}
