#search-container {
	.warning {
		margin-top: 5px;
		color: #C23030;
		text-align: left;
	}
	.page-content {
		padding: 2em 0em;
		.search-header {
			display: flex;
			align-items: center;
			h2 {
				flex: 1 1 auto;
				font-weight: 800;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			a {
				white-space: nowrap;
				flex: 0 0 auto;
				margin-left: 1em;
			}
		}
		.bp3-input-group input {
			margin-bottom: 1em;
			font-size: 35px;
			font-weight: 200;
			height: 70px;
			line-height: 70px;
		}
		.bp3-input-action {
			margin-top: 7px;
		}
		.bp3-tabs {
			border-bottom: 1px solid #CCC;
		}
		.bp3-spinner {
			width: 35px;
			margin: 13px;
		}
		.result {
			margin-bottom: 3em;
			display: flex;
			font-size: 16px;
			.content {
				flex: 1 1 auto;
			}
			.title {
				font-weight: 800;
				display: flex;
				svg {
					margin: -5px 0px 0px 5px;
				}
			}
		}
	}
}